    






<script type="text/javascript">
$(document).ready(function(){
    var k = $("header").height();
    $("#myNav").affix({
        offset: { 
            top: k 
        }
    });
    $("#myNav").on('affixed.bs.affix', function(){
        
    });
});
</script>
<style type="text/css">
    /* Custom Styles */
    ul.nav-tabs{
        width: 240px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
</style>

<header class="intro-header" style="background-image: url('<%= asset_path("Untitled.jpg")%>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 class = "head">Большой <%=link_to "FAQ&rarr;".html_safe, faq_path %></a></h1>
                        <hr class="small">
                        <span class="subheading">о Красноярской летней школе</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<body data-spy="scroll" data-target="#myScrollspy">
<div class="container">
    
    <div class="row">
        <div class=" col-md-3 hidden-sm hidden-xs" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" id="myNav">
                <li class="active"><a href="#section-1">Общая информация</a></li>
                <li><a href="#section-2">Городской биатлон</a></li>
                <li><a href="#section-3">Зимняя олимпиада</a></li>
                <li><a href="#section-4">Вступительное задание</a></li>
                <li><a href="#section-5">Собеседование</a></li>
                
            </ul>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <h2 id="section-1">Общая информация</h2>
            <p>В 2015 году КЛШ будет проходить ориентировочно с 13 июля по 3 августа в лагере «Орбита». Школьник может попасть в КЛШ одним из следующих способов:</p>
            <ul>
            <li> Победить в зимней олимпиаде летней школы, которая состоится 14 декабря 2014 года в Сибирском федеральном университете. </li>
            <li>
            Стать победителем краевого тура всероссийской олимпиады школьников.
            </li>
            <li>
            Прислать решение вступительного задания [ссылка] до 5 марта 2015 года.
            </li>
            <li>
            Пройти собеседование, которое состоится весной 2015 года в Сибирском федеральном университете.
            </li>
            </ul>
            <p>
            Ниже находится подробная информация о мероприятия, проводимых Красноярской летней школой в этом году.
            </p>
            <hr>
            <h2 id="section-2">Городской биатлон</h2>
            <p>Это эстафета, во время которой участники должны пробегать дистанцию около 500 метров, а затем решать задачи по физике или математике. Участники, которые совершат ошибки при выполнении заданий, как и в обычном биатлоне, получат «штрафные круги». Зачет ведется по времени, затраченному командой на выполнение всех этапов соревнования. Городской интеллектуальный биатлон позволяет школьникам совместить интеллектуальную и физическую нагрузку: пробежав дистанцию, представитель команды за ограниченное время решает задачи по физике и математике, а затем передает эстафету другому члену команды. </p>
            <p>К участию приглашаются ученики 9-10 классов общеобразовательных школ города. Каждая команда, зарегистрированная в марафоне, должна состоять из 4 человек и одного запасного участника.</p>
            <%= image_tag("bio.jpg") %>
            <hr>
            <h2 id="section-3">Зимняя олимпиада</h2>
            <p>Открытая зимняя олимпиада &mdash; мероприятие Красноярской летней школы, которое традиционно проходит во второе воскресенье декабря. Форма мероприятия может меняться. Например, в 2014-м году она проходила в формате коплексного научного турнира, где школьники соревновновались одновременно во всех всех учебных дисциплинах. Побороться за призовые места в олимпиаде приглашаются ученики 8-10 классов. Все призёры олимпиады получат возможность участия в КЛШ-2014 без конкурсных испытаний. Победителям же достанутся не только внеконкурсные, но и бесплатные путёвки. Более подробной информации следует ожидать за несколько недель до проведения олимпиады.</p>
            <%= image_tag("winter_olymp.jpg") %>
            <hr>
            <h2 id="section-4">Вступительное задание</h2>
            <p><%= link_to  "assets/klsh_problems_2015.pdf", :class => "themed_text" do%>
                <i class="fa fa-fw fa-file-pdf-o"></i>
                Вступительное задание &mdash; 2015
            <%end%>
            </p>

            
            <p>Вступительное задание &mdash; еще один из способов попасть в КЛШ. Предложенные в нем задачи не похожи на те, с которыми вы сталкиваетесь в школе. Какие-то из них &mdash; оценочные, какие-то &mdash; творческие, какие-то &mdash; экспериментальные. У некоторых из них поэтому не существует единственно правильного ответа, и оцениваться будет в первую очередь то, как вы подошли к их решению. Поскольку многие задачи требуют знаний, лежащих за рамками школьного курса, вы вправе пользоваться любыми источниками и любой помощью при условии, что в вашем решении это будет указано. </p>
            Обычно вступительное задание публикуется в начале учебного года, а крайний срок отправки &mdash; начало марта или февраля.
            <p>Вступительное задание можно прислать двумя способами: по электронной почте или в конверте почтой обычной. Точный адрес находится на первых страницах самого вступительного задания, которое вы можете скачать здесь.
            </p> 
            <%= image_tag("7.jpg") %>
            <hr>
            <h2 id="section-5">Собеседование</h2>
            <p> Собеседование обычно проходит в конце весны. Формат обычно довольно прост: школьнику предлагают несколько задач разного уровня, а он должен рассказать свои решения одному из сотрудников КЛШ. К участию приглашаются как те учащиеся 8-10 классов, которые уже выполнили вступительное задание, так и те, кто только недавно узнал о КЛШ. Участие в собеседовании необязательно для зачисления, если вы уже выполнили вступительное задание, однако может повысить шансы тех, кто сомневается в правильности его выполнения.</p>
            <%= image_tag("interview.jpg") %>
            
            
            <hr>
            
        </div>
    </div>
</div>
</body>
 