
<%= form_for :quote, remote: true, url: quotes_path do |f| %>
  <blockquote>
  <p><%= markdown(quote.text) %><p>
  <div class="subtext">
  <p> &mdash; <%= quote.author %></p>
  </div>
  </blockquote>  
    
    <% if user_signed_in? %>
    <%= link_to 'Edit', edit_quote_path(quote) %>
    <%= link_to 'Destroy', quote_path(quote),
      method: :delete, data: { confirm: 'Уверены?' } %>
    <%end%>
  <hr>
<% end %>
