<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-1 col-md-9">
<h1>Редактирование высказывания</h1>

<%= form_for :quote, url: quote_path(@quote), method: :patch do |f| %>
  <% if @quote.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quote.errors.count, "error") %> prohibited
      this quote from being saved:</h2>
    <ul>
    <% @quote.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :author, "Автор высказывания" %><br>
    <%= f.text_field :author, :class => "form-control" %>
  </p>
 
  <p>
    <%= f.label :text, "Высказывание" %><br>
    <%= f.text_area :text, :class => "form-control" %>
  </p>
 
  <p>
    <%= f.submit "Сохранить изменения", :class => 'btn btn-success btn-green' %>
  </p>
<% end %>
</div>
</div>
</div>