<header class="intro-header" style="background-image: url('<%= asset_path("home-bg.jpg")%>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 class = "head">Большой <%=link_to "FAQ", faq_path %></a></h1>
                        <hr class="small">
                        <span class="subheading">о Красноярской летней школе</span>
                    </div>
                </div>
            </div>
        </div>
</header>

<div class="container">
<div class="row">

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="">Люди</a></li>
  <li role="presentation"><%= link_to "СМИ", articles_path, method: :get%></li>
</ul>
<br>
<% if user_signed_in? %>
<%= link_to 'Добавить', new_quote_path, id: "new_link", remote: true, :class => 'btn btn-success btn-green' %> 
<%end%>
<div class="quotes" id="quotes">
  <div id = "quotes"> 
    <%= render @quotes %>
  </div>


</div>
</div>
</div>