<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-1 col-md-7">
<h2>Регистрация</h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Ваш e-mail" %><br />
  <%= f.email_field :email, autofocus: true, :class => "form-control" %></div>

  <div><%= f.label :password, "Пароль" %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %></div>

  <div><%= f.label :password_confirmation, "Еще раз пароль" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"  %></div>
  <br>
  <div><%= f.submit "Зарегистрироваться", :class => 'btn btn-success btn-green' %></div>
<% end %>	
<%= render "devise/shared/links" %>
</div>
</div>
</div>


