<%= form_for :doc, remote: true, url: docs_path do |f| %>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a href= <%= url(doc.link) %> style="color: #428bca">
      <u><%= doc.title %></u></a></h3>
    </div>
    <div class="panel-body">
      <p><%= markdown(doc.description) %></p>
      <hr>
      <p align="right">
        <b><%= doc.name %></b>
        <%= link_to 'Show', doc_path(doc) %>
        <%= link_to 'Edit', edit_doc_path(doc) %>
        <%= link_to 'Destroy', doc_path(doc),
        method: :delete, data: { confirm: 'Уверены?' } %>
      </p>
    </div>
  </div>
  
  <hr>    
<% end %>
