<p>
  <strong>Name:</strong>
  <%= @doc.name %>
</p>
 
<p>
  <strong>link:</strong>
  <%= @doc.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @doc.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @doc.description %>
</p>

<%= link_to 'Back', docs_path %>