<%= form_for :elephant, remote: true, url: elephants_path do |f| %>
  <tr>
    <td><%= elephant.name %></td>
    <td><%= elephant.link %></td>
    <td><%= elephant.title %></td>
    <td><%= elephant.department %></td>
    <td><%= elephant.description %></td>
    <td><%= link_to 'Show', elephant_path(elephant) %></td>
    <td><%= link_to 'Edit', edit_elephant_path(elephant) %></td>
    <td><%= link_to 'Destroy', elephant_path(elephant),
      method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>