<p>
  <strong>Name:</strong>
  <%= @elephant.name %>
</p>
 
<p>
  <strong>link:</strong>
  <%= @elephant.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @elephant.title %>
</p>

<p>
  <strong>ntn:</strong>
  <%= @elephant.ntn %>
</p>

<p>
  <strong>ntn:</strong>
  <%= @elephant.nen %>
</p>
<p>
  <strong>ntn:</strong>
  <%= @elephant.non %>
</p>
<p>
  <strong>ntn:</strong>
  <%= @elephant.nfn %>
</p>


<p>
  <strong>Description:</strong>
  <%= @elephant.description %>
</p>

<%= link_to 'Back', elephants_path %>