

    

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('<%= asset_path("Untitled.jpg")%>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1><%= days_left_to_klsh%> <%= get_numending(days_left_to_klsh)%></h1>
                        <hr class="small">
                        <span class="subheading">осталось до начала нового сезона</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class = "col-lg-3 col-lg-offset-1 col-md-4">
              <br>
              <h3>Наши мероприятия</h3>
              <ul class="nav nav-pills nav-stacked">    
      
                <li><%= link_to "Городской интеллектуальный биатлон, 12 сентября",
                  toklsh_path(anchor:"section-2"), method: :get  %> </li>
    
                <li><%= link_to "Олимпиада КЛШ, 20 декабря",
                  toklsh_path(anchor:"section-3"), method: :get %> </li>

                <li><%= link_to "Вступительное задание, до 5 февраля",
                  toklsh_path(anchor:"section-4"), method: :get%> </li>
    
                <li><%= link_to "Собеседование в КЛШ, 20 мая",
                  toklsh_path(anchor:"section-5"), method: :get%> </li> 
              </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-1 col-md-8">
                

                <div class="post-preview">
                
                    <% @posts.each do |post| %>  
                        <%= link_to post_path(post) do %>
                        <h2 class="post-title">
                            <%= post.title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= post.tweet %>
                        </h3>
                        <% end %>
                        <p class="post-meta"><%= post.timestamp %></p> 
                        <hr>
                    <% end %>

                 
                    
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <%= link_to 'Все новости &rarr;'.html_safe , posts_path %>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>






