<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-lg-10 col-lg-offset-1 col-md-9">

<%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title, "Заголовок" %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </p>
 
	<p>
    <%= f.label :tweet, "Твит" %><br>
    <%= f.text_field :tweet, :class => "form-control" %>
  </p>
 

  <p>
    <%= f.label :text, "Текст" %><br>
    <%= f.cktext_area :text, :ckeditor => 
    { :language => 'ru', :toolbar => 'article'} %>
  </p>
 
  <p>
    <%= f.submit "Опубликовать", :class => 'btn btn-success btn-green' %>
  </p>


<% end %>
 
<%= link_to 'Назад', posts_path %>
</div>
</div>
</div>