<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-lg-10 col-lg-offset-1 col-md-9">

<%= form_for :material, url: materials_path do |f| %>
  <% if @material.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@material.errors.count, "error") %> prohibited
      this material from being saved:</h2>
    <ul>
    <% @material.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 


    <%= f.label :author, "Автор" %><br>
    <%= f.text_field :author, :class => "form-control" %>
  </p>
 
	<p>
    <%= f.label :position, "Статус на момент прочтения (иначе любой известный)" %><br>
    <%= f.text_field :position, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :title, "Заголовок" %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </p>
  <p>

    <%= f.label :annotation, "Аннотация" %><br>
    <%= f.text_area :annotation, :class => "form-control" %>
  </p>


  <table class="table table-bordered"  style="width:40%">
    <tr class="active">
      <td><%= f.label "НТН" %></td>
      <td><%= f.label "НЕН" %></td>
      <td><%= f.label "НОН" %></td>
      <td><%= f.label "НФН" %></td>
    </tr>
    <tr>  
      <td><%= f.check_box :ntn %></td>
      <td><%= f.check_box :nen %></td>
      <td><%= f.check_box :non %></td> 
      <td><%= f.check_box :nfn %></td>
    </tr>
  </table>  
  
  <p>
    <%= f.label :year, "Год" %><br>
    <%= f.text_field :year, :class => "form-control" %>
  </p>

  <p>
    <%= f.label :link, "Ссылка" %><br>
    <%= f.text_field :link, :class => "form-control" %>
  </p>

  <p>
    <%= f.submit "Опубликовать", :class => 'btn btn-success btn-green' %>
  </p>


<% end %>
 
<p><%= link_to 'Назад', materials_path %></p>
</div>
</div>
</div>