<%= form_for :report, remote: true, url: reports_path do |f| %>
  

  <div class = "bs-callout bs-callout-warning">
    <h4><%= report.name %> </h4>
    <p> <%= markdown(report.text) %></p>
  </div>
  
  <% s = "Комментарии (" + (report.comments.count).to_s + ")" %>
  <%= link_to s, report_path(report) %>
  <%= link_to 'Edit', edit_report_path(report) %>
  <%= link_to 'Destroy', report_path(report),
      method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr>    
  <br>
<% end %>
