
<div class = "bs-callout bs-callout-warning">
    <h4><%= @report.name %> </h4>
    <p> <%= markdown(@report.text) %></p>
</div>
<hr>
<h2>Комментарии</h2>
<%= render @report.comments %>
 
<h2>Добавить комментарий:</h2>
<%= render "comments/form" %>
<%= link_to 'Back', reports_path %>