 <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/klsh_ru">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://vk.com/klsh_ru">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/just-kir/klsh.ru">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                <font size = "3">
                <div id="user_nav">
                  <% if user_signed_in? %>
                  Вошли как <%= current_user.email %>. Не вы?
                  <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
                  <% else %>
                  <%= link_to "Зарегистрироваться", new_user_registration_path %> или
                  <%= link_to "войти", new_user_session_path %>
                  <% end %>
                </div>
                </font>
                </ul>
                </div>
            </div>
        </div>
    </footer>

    
    <!-- jQuery -->
  
    <!--<%= javascript_include_tag 'clean-blog.js' %> -->