<div class="col-sm-9">
    <br>
    <br>
    <div class="fotorama" data-shuffle="true"  
          data-width="90%"
      <img src="<%= asset_path("1.jpg")%>"
      data-caption="<p>У нас есть своя печать!</p>">
      <img src="<%= asset_path("2.jpg")%>"
        data-caption="<p>Мы -- не секта!!!</p>">
      <img src="<%= asset_path("3.jpg")%>"
      data-caption="<p>В качестве вечернего досуга
       школьников ждет замечательная культурная программа.</p>">
      <img src="<%= asset_path("4.jpg")%>"
      data-caption="<p>С недавних пор Летняя школа перешла на натуральное хозяйство.</p>">
      <img src="<%= asset_path("5.jpg")%>" 
      data-caption="<p>В КЛШ впервые изобрели бумагу.</p>">
      <img src="<%= asset_path("6.jpg")%>"
      data-caption="<p>Лагерь, в котором проходит Школа, имеет великолепную охрану</p>">
      <img src="<%= asset_path("7.jpg")%>"
      data-caption="<p>А это какие-то конверты.</p>">  
    </div>
</div>    
